<h2>Productos en Mongo Atlas:</h2>

<ul>
    {{#each productos}}
        <li>
            {{this.title}} {{this.description}}  {{this.price}}  {{this.thumbnail}}  {{this.stock}}  {{this.category}} - <strong>Code:</strong> <i>{{this.code}}</i>
        </li>
    {{/each}}
</ul>
<br>

<br>
{{!-- Modificando para que los datos incrementen de  /products/ --}}
<a href="/products/?pagina=1">Pag.1</a>

{{#if hasPrevPage}}
    <a href="/products/?pagina={{prevPage}}">Pag. Ant.</a>
{{else}}
<span>Pag. Ant.</span>
{{/if}}


{{#if hasNextPage}}
    <a href="/products/?pagina={{nextPage}}">Pag. Sig.</a>
{{else}}
    <span>Pag. Sig.</span>
{{/if}}



<a href="/products/?pagina={{totalPages}}">Ult. Pag.</a>
